
<div class="container">
<div>


</div>
</div>


<div class="card mt-5">
  <div class="card-header">
    <h3>Detalles del Empleado</h3>
  </div>
  <div class="card-body">

    <div class="row">
      <label>ID: {{empleado.id}}</label>
    </div>
    <div>
      <label>Nombre: {{empleado.nombre | uppercase}}</label>
    </div>
    <div>
      <label>Apellido: {{empleado.apellido | uppercase}}</label>
    </div>
    <div>
      <label>Email: {{empleado.email}}</label>

    </div>


    <button class="btn btn-primary btn-lg mt-3" (click)="regresarListaEmpleados()" ><i class="bi bi-arrow-left-circle-fill" style="margin-right:10px; font-size: 24px;"></i>Regresar</button>

  </div>
</div>
